  
  
  
*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.clr{
    clear: both;
}

a{
    text-decoration: none;
}
  
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 10px;
    width: 80%;
    margin: auto;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}











.navbar{
 background-color: black;
 

}

 



.logo img{

    width: 50%;

}

 
.navbar .list{

   float: right;
   margin: 15px;
}

.list ul{

    list-style-type: none;


}

.list ul li{

    float: right;
    margin-right: 15px;
}


.list a{
    color: white;
    text-transform: uppercase;
   margin-top: 15px;
}


.protfolio{
    background-color: cornsilk;
   text-align: center; 

    justify-content: center;
    
}



.protfolio-item{

 float:left;
 width: 33.33%;
 padding-right: 30px;
 background-color: blueviolet;
}



.protfolio img{


    display: block;
    width: 100%;
}























